{% extends 'base.html' %}

{% block title %}Start New Topic{% endblock %}

{% block content %}
<h2>Start a New Topic</h2>

{# This form will be replaced by a Django Form later #}
<form method="post" action=""> {# Post to the current URL #}
    {% csrf_token %} {# IMPORTANT: Cross-Site Request Forgery protection #}

    {# Render the form fields using Django's form rendering #}
    {{ form.as_p }} {# Renders fields and labels in html paragraph tags, includes errors #}

    <button type="submit">Create Topic</button>
</form>

{% endblock %}